<% include include/header.ejs %>

<div class="page-header text-center">
    <h1><span class="fa fa-check-square"></span> <%= title%></h1>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p><%= gamelist[0].id%></p>
            <p><%= gamelist[0].title%></p>
            <p><%= gamelist[0].releaseDate%></p>
            <p><%= gamelist[0].platform%></p>
            
            
<<<<<<< HEAD
            <form id="gamesearch" method="get" action="/game">
            
                <label>Game Name</label>
                <input type="text" name="gamename">
                <input type="submit" value="Submit">
=======
            <form id="productForm" action="game" method="post">
            
              <label>Game id:</label>
              <input type="text" name="id">
                
                <button type="submit" class="btn btn-warning btn-lg">submit</button>
>>>>>>> 274b75ef2254db20498146259a7f71fdf1c714bf
            </form>
            
            
            
        </div>
        <p><%= name%></p>
    </div>
</div>
<% include include/footer.ejs %>
