<% include include/header.ejs %>
    <h1>Account - List</h1>
      <p id="demo"></p>
      <div class="search">
        <label>Username：</label>
        <input type="text" name="suserid" value="<%=user  %>" placeholder="input the username">
        <input type="button" name="sSearch" value="Search" onclick="Search();">
    </div>
      <input type='submit' value='Add' onclick="javascript: location.href='http://localhost:3000/users/add'">
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>password</th>
            <th>email</th>
        </tr>
        <% for ( var i = 0 ; i < data.length ; i++){ %>
            <tr>
                <td>
                    <%= data[i].id  %>
                </td>
                <td>
                    <%= data[i].username  %>
                </td>
                <td>
                    <%= data[i].password  %>
                </td>
                <td>
                    <%= data[i].email  %>
                </td>
                <td>
                    <input type="button" name="edit" value="Edit" onclick="Edit('<%= data[i].id  %>');" />
                </td>
                <td>
                    <input type="button" name="delete" value="Delete" onclick="Delete('<%= data[i].id  %>');" />
                </td>
            </tr>
            <% } %>
    </table>
<% include include/footer.ejs %>