<% include ../include/header.ejs %>

<div class="page-header text-center">
    <h1><span class="fa fa-search"></span> <%= title%> </h1>
    <p><% data[0].gamename %></p>
    
</div>

<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
                            <% for ( var i = 0 ; i < data.length ; i++){ %>
                                <div class="product-view">
								    <img src="<%= data[i].path %>" alt="">
                                </div>
                            <% } %>
						</div>
                        <div id="product-view">
                            <% for ( var i = 0 ; i < data.length ; i++){ %>
                                <div class="product-view">
								    <img src="<%= data[i].path %>" alt="">
                                </div>
                            <% } %>
                        </div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							<div class="product-label">
								<span>New</span>
							</div>
							<h2 class="product-name"><%= data[0].gamename  %></h2>
							<h3 class="product-price">$<%= data[0].price  %></h3>
							<p><strong>tid: </strong><%= data[0].tid  %></p>
<!--                            <i class="fa fa-user-o"></i><i class="fa fa-clock-o"></i>-->
                            <p><strong><i class="fa fa-user-o"></i></strong><a href="/users?id=<%= data[0].id%>"> <%= data[0].username  %></a></p>
                            <p><strong><i class="fa fa-clock-o"></i></strong> <%= data[0].date  %></p>
							<p><%= data[0].description  %></p><br>
                            <%if(JSON.parse(data[0].location)){%>
                                <% for ( var i = 0 ; i < JSON.parse(data[0].location).length ; i++){ %>
                            <h4><span class="label label-default"><%=JSON.parse(data[0].location)[i]%></span></h4>
                                <%}%>
                            <%}%>
                            <br><br>
                            <p><strong><i class="fa fa-thumbs-up"></i></strong> <%= data[0].likes  %></p>
                            <p><strong>views: </strong> <%= data[0].search  %></p>
                            <br>
							<div class="product-btns">
                                <% if(checkWishlist[0].count){%>
                                    <button class="main-btn add-to-cart" onclick="window.location.href='/wishlist/delete?tid=<%= data[0].tid  %>'" style="color: #f8694a;"><i class="fa fa-heart"></i> Remove from Wishlist</button>
                                <%}else{%>
                                    <button class="primary-btn add-to-cart" onclick="window.location.href='/transaction/wish?tid=<%= data[0].tid  %>'"><i class="fa fa-heart"></i> Add to Wishlist</button>
                                <%}%>
								
								<div class="pull-right">
                                    <% if(checkLikes[0].count){%>
                                        <button class="main-btn icon-btn" onclick="window.location.href='/transaction/likes/delete?tid=<%= data[0].tid  %>'" style="color: #f8694a;"><i class="fa fa-thumbs-up"></i></button>
                                    <%}else{%>
									   <button class="main-btn icon-btn" onclick="window.location.href='/transaction/likes?tid=<%= data[0].tid  %>'"><i class="fa fa-thumbs-o-up"></i></button>
                                    <%}%>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-nav">
								<li><a data-toggle="tab" href="#tab2">Reviews (<%=comments.length%>)</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab2" class="tab-pane fade in active">

									<div class="row">
										<div class="col-md-6">
											<div class="product-reviews">
                                                <% for ( var i = 0 ; i < comments.length ; i++){ %>
												<div class="single-review">
													<div class="review-heading">
														<div><a href="/users?id=<%= comments[i].id%>"><i class="fa fa-user-o"></i> <%=comments[i].username%></a></div>
														<div><a href="#"><i class="fa fa-clock-o"></i><%=comments[i].date%></a></div>
													</div>
													<div class="review-body">
														<p><%=comments[i].comment%></p>
													</div>
												</div>
                                                <%}%>

												<ul class="reviews-pages">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="col-md-6">
											<h4 class="text-uppercase">Write Your comment</h4>
											<form class="review-form" action="comment?tid=<%=data[0].tid%>" method="post">
												<div class="form-group">
													<textarea class="input" name="comment" placeholder="Your comment" required></textarea>
												</div>
												<button class="primary-btn">Submit</button>
											</form>
										</div>
									</div>



								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
<% include ../include/footer.ejs %>
