<% include ../include/header.ejs %>

<div class="page-header text-center">
    <h1><span class="fa fa-search"></span> <%= title%></h1>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <% if (gamelist.length != 0) { %>
                <p>Second, choose the game that you want to sell.</p>
                <h4>Total: <%= gamelist.length%> results found.</h4>
                <table class="table table-hover">
                    <tr>
                        <th>Game Platform</th>
                        <th>Game Name</th>
                    </tr>
                    <% for ( var i = 0 ; i < gamelist.length ; i++){ %>
                    <tr>
                        <td><%= gamelist[i].platform%></td>
                        <td><a href="/transaction/add?gamename=<%= gamelist[i].title%>&platform=<%= gamelist[i].platform%>"><%= gamelist[i].title%></a></td>
                    </tr>
                    <% } %>
                </table>
            <button class="btn btn-warning btn-lg" onclick="window.location.href='/transaction/new'">Return</button>
            <% } else {%>
                <h4>Sorry! No results found.</h4>
                <button class="btn btn-warning btn-lg" onclick="window.location.href='/transaction/new'">Return</button>
            <% }%>
            
        </div>
    </div>
</div>
<% include ../include/footer.ejs %>
